*{ 
    font-family: "Trebuchet MS", Verdana, Arial, sans-serif;
    font-size: 30px;
}

.terminalCode {
    background-color: rgba(50, 50, 50, 1);
    padding: 20px;
    border-radius: 5px;
    color: rgba(220, 220, 220, 1);
    font-size: .6rem;
}

.terminalCode > i {
    color: rgba(150, 150, 150, 1);
    font-size: .6rem;
}

p {
   font-size: .6rem;
   line-height: 1rem;
   color: rgb(34, 38, 80);
   font-weight: 500;
}