*{ 
    font-family: "Trebuchet MS", Verdana, Arial, sans-serif;
    font-size: 30px;
}
body {
    margin: 0;
}

.terminalCode {
    background-color: rgba(16, 17, 61, .8);
    padding: 20px;
    border-radius: 5px;
    color: rgba(220, 220, 220, 1);
    font-size: .5rem;
    margin-top: -0.53em;
    margin-bottom: -0.3rem;
}

.terminalCode > i {
    color: rgba(150, 150, 150, 1);
    font-size: .5rem;
}

p {
   font-size: .6rem;
   line-height: 1rem;
   color: rgba(27, 29, 105, .5);
   font-weight: 500;
}

h3 {
    color: rgb(27, 29, 105);
    font-size: 0.6rem;
    font-weight: 900;
    margin-bottom: -.3rem;
    margin-top: 1.3rem;
}
h2 {
    color: rgb(27, 29, 105);
    font-size: .9rem;
    margin-top: 1.5rem;
}
h1 {
    color: rgb(27, 29, 105);
    font-size: 1.4rem;
}

i {
    font-size: .6rem;
}
#contentContainer {
    width: 95%;
    padding-right: 5%;
    height: 100%;
    max-width: calc(50 * .6rem);
    margin: auto;
    margin-left: 0;
    grid-area: content;
}

#gridContainer {
    display: grid;
    grid-template-columns: 60px 1fr;
    grid-template-rows: 50px 1fr;
    grid-template-areas: 
        "menubar menubar"
        "chapter content"
    ;
}
#chapterContainer {
    grid-area: chapter;
    height: 100%;
    width: 0px;
    padding-right: 20px;
    background-color: rgba(27, 29, 105, 0.3);
    transition: width .2s;
    z-index: 1;
    position: relative;
    overflow: hidden;
}
#menubarContainer {
    grid-area: menubar;
    background-color: rgb(27, 29, 105);
    position: sticky;
    top: 0;
}

#chapterContent {
    overflow: hidden;
    width: 520px;
    margin-left: 20px;
}
