*{ 
    font-family: "Trebuchet MS", Verdana, Arial, sans-serif;
    font-size: 30px;
}
body {
    margin: 0;
}

.terminalCode, .terminalCodeWithoutCopy, .terminalCodeJs, .terminalCodeHTML {
    background-color: rgba(64, 65, 98, 1);
    padding: 20px;
    border-radius: 5px;
    color: rgba(220, 220, 220, 1);
    font-size: .5rem;
    margin-top: -0.53em;
    margin-bottom: -0.3rem;
    font-family: monospace;
    overflow: auto;
    white-space: nowrap;   
}

.terminalCodeWithoutCopy, .terminalCodeJs, .terminalCodeHTML {
    line-height: .8rem;
}

.terminalCode > i, terminalCodeWithoutCopy > i {
    color: rgba(150, 150, 150, 1);
    font-family: monospace;
    font-size: .5rem;
}

p {
   font-size: .6rem;
   line-height: 1rem;
   color: rgba(27, 29, 105, .5);
   font-weight: 500;
}

h3 {
    color: rgb(27, 29, 105);
    font-size: 0.6rem;
    font-weight: 900;
    margin-bottom: -.3rem;
    margin-top: 1.3rem;
}
h2 {
    color: rgb(27, 29, 105);
    font-size: .9rem;
    margin-top: 1.5rem;
}
h1 {
    color: rgb(27, 29, 105);
    font-size: 1.4rem;
    margin-top: 50px;
}

i {
    font-size: .6rem;
}
#contentContainer {
    width: 95%;
    padding-right: 5%;
    height: 100%;
    max-width: calc(50 * .6rem);
    margin: auto;
    margin-left: 0;
    grid-area: content;
    height: 100%;
    overflow: scroll;
}

#gridContainer {
    display: grid;
    grid-template-columns: 60px 1fr;
    grid-template-rows: 50px 1fr;
    grid-template-areas: 
        "menubar menubar"
        "chapter content"
    ;
    height: 100vh;
}
#chapterContainer {
    grid-area: chapter;
    height: 100%;
    width: 0px;
    padding-right: 20px;
    background-color: rgba(27, 29, 105, 0.3);
    transition: width .4s;
    z-index: 1;
    position: relative;
    overflow: hidden;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    max-width: max-content;
    overflow: scroll;
}
#menubarContainer {
    grid-area: menubar;
    background-color: rgb(27, 29, 105);
    position: sticky;
    top: 0;
    z-index: 2;
    -webkit-box-shadow: 0px 0px 18px 10px rgba(0,0,0,0.37); 
    box-shadow: 0px 0px 18px 10px rgba(0,0,0,0.37);
}

#chapterContent {
    overflow: hidden;
    margin-left: 20px;
    padding-right: 20px;
    width: max-content;
}

#menuContentContainer {
    display: flex;
    gap: 30px;
    margin-left: 30px;
}

.menubarItem {
    color: rgba(169, 190, 255, 1);
    margin-top: 5px;
}

a {
    text-decoration: none;
}

#copyMessage {
    background-color: rgb(27, 29, 105);
    position: fixed;
    text-align: center;
    width: 100%;
    font-size: 1.2rem;
    color: white;
    z-index: 1;
    bottom: 0;
    transition: opacity .0s;
    -webkit-box-shadow: 0px 0px 18px 10px rgba(0,0,0,0.37); 
    box-shadow: 0px 0px 18px 10px rgba(0,0,0,0.37);

}
